body
{
    background: radial-gradient(circle, #FC4A1A 60%, #F7B733 50%);
}

.nav
{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    height:30px;
}

.nav li
{
    display:inline;
    text-decoration: none;
}

.nav li:hover
{
    background-color: #11ddbf;
    
}

/* .nav li a:hover
{
 color: #FC4A1A;   
} */

.nav a
{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
}

.website-title {
    color: #FC4A1A;
    font-family: 'Space Mono', monospace;
    font-size: 70px;
    height:70px;
    text-align: center;
}

.song-title {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    height: 25px;
    text-align: center;
}

p
{
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    height: 14px;
    text-align: center;
}

.color
{
    color: #FC4A1A;
}

iframe
{
    display: block;
    margin: auto;
    border: 10px dotted white;
}
